@import url('/assets/style/ui.css');
@import url('/assets/style/template.css');

:root{
  --bg: #000;
  --dark-button: hsla(0, 0%, 4%, 1);
  --dark-button-hover: hsla(0, 0%, 100%, 0.09);
  --light-button: hsla(0, 0%, 93%, 1);
  --light-button-hover: hsla(0, 0%, 80%);
  --text-gray: #b3b3b3;
  --main-text: #fff;
  --card: #101827;
  --main-green: rgb(34, 197, 94);
  --border: hsla(0, 0%, 100%, 0.14);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #__nuxt {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg);
  color: var(--main-text);
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-link {
  color: color-mix(in srgb, var(--light-button) 50%, transparent);
}

.text-link:hover{
  text-decoration: underline;
}

.form-avatar{
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-avatar-image{
  min-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid var(--border);
}

.form-avatar-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}