.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-style: 500;
}

.button.filled-variant {
  background-color: var(--blue);
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.button.outlined-variant {
  background-color: white;
  color: var(--blue);
  border: 1px solid rgba(108, 159, 255, 1);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.button.filled-variant:hover {
  background-color: #6C9FFF;
}

.button.filled-variant:active {
  background-color: #1042A0;
}

.button.filled-variant:disabled {
  background-color: #D9E1F0;
  cursor: not-allowed;
  pointer-events: none;
}

.button.outlined-variant:hover {
  border: 1px solid rgba(16, 66, 160, 1);
}

.button.outlined-variant:active {
  background: color-mix(in srgb, var(--blue) 10%, transparent);
}
.input{
  border: 1px solid var(--border);
  background-color: var(--dark-button-hover);
  border-radius: 4px;
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #000000
}

.input:focus{
  border: 1px solid var(--blue);
  box-shadow: 0px 0px 3px 0px var(--blue);
}

.input:focus-visible{
  border: 1px solid var(--blue);
  box-shadow: 0px 0px 3px 0px var(--blue);
}


.input.error{
  border: 1px solid #ff00007a;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}